html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5;
}
body {

}

header {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid aqua;  
}
header h2 {
    color:aqua;
    padding:  3vh;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    gap: 2rem;
}

